<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <section th:fragment="agregarEquipo">
        <div id="agregarEquipo" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title" th:text="#{accion.agregar}"></h5>
                        <button class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <form th:action="@{/guardarEquipos}" th:object="${equipmentModel}"
                          method="POST" class="was-validated">
                        <div class="modal-body">
                            <div>
                                <input type="hidden" class="form-control" name="activo" value="TRUE" maxlength="4">
                            </div>
                            <div class="form-group">
                                <label th:text="#{equipos.registrado}"></label>
                                <input type="text" class="form-control" name="registrado" required="true" maxlength="30">
                            </div>
                            <div class="form-group">
                                <label th:text="#{equipos.imei-registrado}"></label>
                                <input type="number" class="form-control" name="imeiRegistrado" required="true" maxlength="15" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                            </div>
                            <div class="form-group">
                                <label th:text="#{equipos.marca-trafica}"></label>
                                <input type="text" class="form-control" name="marcaTrafica" required="true" maxlength="10">
                            </div>
                            <div class="form-group">
                                <label th:text="#{equipos.modelo-trafica}"></label>
                                <input type="text" class="form-control" name="modeloTrafica" required="true" maxlength="30">
                            </div>
                            <div class="form-group">
                                <label th:text="#{equipos.imei-trafica}"></label>
                                <input type="number" class="form-control" name="imeiTrafica" required="true" maxlength="15" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                            </div>
                            <div class="form-group">
                                <label th:text="#{equipos.sim}"></label>
                                <input type="number" class="form-control" name="sim" required="true" maxlength="19" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</html>
