<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<section th:fragment="botonesEditarEmpleados">
    <div class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a th:href="@{/listarEmpleados}" class="btn btn-light btn-block">
                        <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                    </a>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success btn-block">
                        <i class="fas fa-check"></i> [[#{accion.guardar}]]
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section th:fragment="botonesEditarEmpresas">
    <div class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a th:href="@{/listarEmpresas}" class="btn btn-light btn-block">
                        <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                    </a>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success btn-block">
                        <i class="fas fa-check"></i> [[#{accion.guardar}]]
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section th:fragment="botonesEditarEquipos">
    <div class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a th:href="@{/listarEquipos}" class="btn btn-light btn-block">
                        <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                    </a>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success btn-block">
                        <i class="fas fa-check"></i> [[#{accion.guardar}]]
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section th:fragment="botonesEditarLineas">
    <div class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a th:href="@{/listarLineas}" class="btn btn-light btn-block">
                        <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                    </a>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success btn-block">
                        <i class="fas fa-check"></i> [[#{accion.guardar}]]
                    </button>
                </div>
                <div class="col-md-3">
                    <a th:href="@{/eliminarLineas/} + ${lineModel.id}" class="btn btn-danger btn-block">
                        <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section th:fragment="botonesEditarPlanes">
    <div id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a th:href="@{/listarPlanes}" class="btn btn-light btn-block">
                        <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                    </a>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success btn-block">
                        <i class="fas fa-check"></i> [[#{accion.guardar}]]
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
</html>