<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<section th:fragment="editarEmpleado">
    <form th:action="@{/guardarEmpleados}" th:object="${employeeModel}" method="post" class="was-validated">
        <input type="hidden" name="id" th:field="*{id}"/>
        <section th:replace="layout/botonesEditar :: botonesEditarEmpleados"></section>
        <div id="details">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{accion.editar}]]</h4>
                            </div>
                            <div class="card-body">
                                <section th:replace="layout/estados :: estados"></section>
                                <div class="form-group">
                                    <label>[[#{empleados.nombre}]]</label>
                                    <input type="text" class="form-control" name="nombre" required="true"
                                           th:field="*{nombre}" maxlength="20">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
</html>