<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Listado Equipos</title>
    <meta charset="UTF-8"/>
</head>
<body>
<section th:fragment="listadoEquipos" id="equipmentModel">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header mb-3">
                        <h4>[[#{equipos.titulo-lista}]]</h4>
                    </div>
                    <div>
                        <form th:action="@{/listarEquipos/page/}" class="form-inline">
                            <div class="form-group mb-2">
                                <label>Filtrar: </label>
                            </div>
                            <div class="form-group mx-sm-2 mb-2">
                                <input type="text" name="keyword" class="form-control" id="keyword" th:value="${keyword}" placeholder="Ingrese valor a buscar" >
                            </div>
                            <div class="form-check">
                                <input type="checkbox" name="isChecked" th:checked="${isChecked}"  value="false" checked />
                                &nbsp;
                                <label class="form-check-label">
                                    [[#{accion.mostrar-activos}]]
                                </label>
                            </div>
                            &nbsp; &nbsp;
                            &nbsp; &nbsp;
                            <input type="submit" class="btn btn-primary mb-2" value="Buscar">
                            &nbsp; &nbsp;
                            &nbsp; &nbsp;
                        </form>
                        <table class="table table-stryped" th:if="${equipmentModels != null and !equipmentModels.empty}">
                            <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th th:text="#{equipos.registrado}"></th>
                                <th th:text="#{equipos.imei-registrado}"></th>
                                <th th:text="#{equipos.marca-trafica}"></th>
                                <th th:text="#{equipos.modelo-trafica}"></th>
                                <th th:text="#{equipos.imei-trafica}"></th>
                                <th th:text="#{equipos.sim}"></th>
                                <th th:text="#{equipos.estado}"></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="equipo, contador : ${equipmentModels}">
                                <td>[[${contador.count}]]</td>
                                <td>[[${equipo.registrado}]]</td>
                                <td>[[${equipo.imeiRegistrado}]]</td>
                                <td>[[${equipo.marcaTrafica}]]</td>
                                <td>[[${equipo.modeloTrafica}]]</td>
                                <td>[[${equipo.imeiTrafica}]]</td>
                                <td>[[${equipo.sim}]]</td>
                                <td th:text="${equipo.activo} ? 'Habilitado' : 'Deshabilitado'"></td>
                                <td>
                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/editarEquipos/} + ${equipo.id}"
                                       class="btn btn-secondary">
                                        <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <footer class="form-inline p-2">
                            Total de Entradas: [[${totalItems}]] : Pagina [[${currentPage}]] de [[${totalPages}]]
                            &nbsp; &nbsp; | &nbsp; &nbsp;
                            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                            <a th:href="@{'/listarEquipos/page/' + ${i}}">[[${i}]]</a>
                             &nbsp; &nbsp;
                            </span>
                        </footer>

                    </div>
                    <div class="text-center p-2" th:if="${equipmentModels == null or equipmentModels.empty}">
                        <span th:text="#{equipos.lista-vacia}">Lista vacía</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>