<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Listado Empresas</title>
  <meta charset="UTF-8"/>
</head>
<body>
<section th:fragment="listadoEmpresas" id="businessModel">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header mb-3">
            <h4>[[#{empresas.titulo-lista}]]</h4>
          </div>
          <div>
            <form th:action="@{/listarEmpresas}" class="form-inline">
              <div class="form-group mb-2">
                <label>Filtrar: </label>
              </div>
              <div class="form-group mx-sm-2 mb-2">
                <input type="text" name="keyword" class="form-control" id="keyword" th:value="${keyword}" placeholder="Ingrese valor a buscar" required>
              </div>
              <input type="submit" class="btn btn-primary mb-2" value="Buscar">
              &nbsp; &nbsp;
              <!--<input type="button" class="btn btn-secondary mb-2" value="Limpiar" onclick="limpiarCampos()">-->
            </form>
            <table class="table table-stryped" th:if="${businessModel != null and !businessModel.empty}">
              <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th th:text="#{empresas.nombre}">nombre</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="empresa, contador : ${businessModel}">
                <td>[[${contador.count}]]</td>
                <td>[[${empresa.nombre}]]</td>
                <td>
                  <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/editarEmpresas/} + ${empresa.id}"
                     class="btn btn-secondary">
                    <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                  </a>
                </td>
                <td>
                  <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/eliminarEmpresas(id=${empresa.id})}"
                     class="btn btn-dark">
                    <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center p-2" th:if="${businessModel == null or businessModel.empty}">
            <span th:text="#{empresas.lista-vacia}">Lista vacía</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
