<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>[[#{lineas.titulo-lista}]]</title>
    <meta charset="UTF-8"/>
</head>
<body>
<section th:fragment="listadoLineas" id="lineModel">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header mb-3">
                        <h4>[[#{lineas.titulo-lista}]]</h4>
                    </div>
                    <div>
                        <form th:action="@{/listarLineas/page/}" class="form-inline">
                            <div class="form-group mb-2">
                                <label>Filtrar: </label>
                            </div>
                            <div class="form-group mx-sm-2 mb-2">
                                <input type="text" name="keyword" class="form-control" id="keyword"
                                       th:value="${keyword}"
                                       th:placeholder="#{accion.ingresar-datos}">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" name="isChecked" th:checked="${isChecked}" value="false"
                                       checked/>
                                &nbsp;
                                <label class="form-check-label">
                                    [[#{accion.mostrar-activos}]]
                                </label>
                            </div>
                            &nbsp; &nbsp;
                            &nbsp; &nbsp;
                            <input type="submit" class="btn btn-primary mb-2" value="Buscar">
                            &nbsp; &nbsp;
                            &nbsp; &nbsp;
                        </form>
                        <table class="table table-stryped" th:if="${lineModels != null and !lineModels.empty}">
                            <thead class="thead-dark">
                            <tr>
                                <th>
                                    <a th:href="@{'/listarLineas/page/' + ${currentPage} + '/id?sortDir=' + ${reverseSortDir}}">[[#{datos.codigo}]]</a>
                                </th>
                                <th>
                                    <a th:href="@{'/listarLineas/page/' + ${currentPage} + '/numero?sortDir=' + ${reverseSortDir}}">[[#{lineas.numero}]]</a>
                                </th>
                                <th>
                                    <a th:href="@{'/listarLineas/page/' + ${currentPage} + '/employeeModel.nombre?sortDir=' + ${reverseSortDir}}">[[#{lineas.empleado}]]</a>
                                </th>
                                <th>
                                    <a th:href="@{'/listarLineas/page/' + ${currentPage} + '/planModel.nombre?sortDir=' + ${reverseSortDir}}">[[#{lineas.plan}]]</a>
                                </th>
                                <th>
                                    <a th:href="@{'/listarLineas/page/' + ${currentPage} + '/equipmentModel.imeiTrafica?sortDir=' + ${reverseSortDir}}">[[#{lineas.equipo}]]</a>
                                </th>
                                <th>
                                    <a th:href="@{'/listarLineas/page/' + ${currentPage} + '/businessModel.nombre?sortDir=' + ${reverseSortDir}}">[[#{lineas.empresa}]]</a>
                                </th>
                                <th>
                                    <a th:href="@{'/listarLineas/page/' + ${currentPage} + '/activo?sortDir=' + ${reverseSortDir}}">[[#{lineas.estado}]]</a>
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="linea, contador : ${lineModels}">
                                <input type="hidden" [[${linea.activo}]]>
                                <td>[[${linea.id}]]</td>
                                <td>[[${linea.numero}]]</td>
                                <td>[[${linea.employeeModel.nombre}]]</td>
                                <td>[[${linea.planModel.nombre}]]</td>
                                <td>[[${linea.equipmentModel.imeiTrafica}]]</td>
                                <td>[[${linea.businessModel.nombre}]]</td>
                                <td th:text="${linea.activo} ? 'Habilitado' : 'Deshabilitado'"></td>
                                <td>
                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/editarLineas/} + ${linea.id}"
                                       class="btn btn-secondary">
                                        <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                    </a>
                                </td>
                                <td>
                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/eliminarLineas/} + ${linea.id}"
                                       class="btn btn-dark">
                                        <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <nav class="small">
                            [[#{datos.entradas}]] [[${totalItems}]] : [[#{datos.pagina}]] [[${currentPage}]]
                            [[#{datos.pagina-de}]] [[${totalPages}]]
                            <ul class="pagination float-right ">
                                <li class="page-item">
                                    <a class="page-link d-inline " th:if="${currentPage > 1}"
                                       th:href="@{/listarLineas/page/1}">[[#{datos.pagina-primera}]]</a>
                                    <span class="page-link d-inline " th:unless="${currentPage > 1}">[[#{datos.pagina-primera}]]</span>
                                </li>
                                <li class="page-item">
                                    <a class="page-link d-inline " th:if="${currentPage > 1}"
                                       th:href="@{'/listarLineas/page/' + ${currentPage - 1}}">[[#{datos.pagina-anterior}]]</a>
                                    <span class="page-link d-inline " th:unless="${currentPage > 1}">[[#{datos.pagina-anterior}]]</span>
                                </li>
                                <li class="page-item">
                                  <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                    <a class="page-link d-inline " th:if="${i != currentPage}"
                                       th:href="@{'/listarLineas/page/' + ${i}}">[[${i}]]</a>
                                    <span th:unless="${i != currentPage}">[[${i}]]</span>
                                  </span>
                                </li>
                                <li class="page-item">
                                    <a class="page-link d-inline " th:if="${currentPage < totalPages}"
                                       th:href="@{'/listarLineas/page/' + ${currentPage + 1}}">[[#{datos.pagina-siguiente}]]</a>
                                    <span class="page-link d-inline " th:unless="${currentPage < totalPages}">[[#{datos.pagina-siguiente}]]</span>
                                </li>
                                <li class="page-item">
                                    <a class="page-link d-inline " th:if="${currentPage < totalPages}"
                                       th:href="@{'/listarLineas/page/' + ${totalPages}}">[[#{datos.pagina-ultima}]]</a>
                                    <span class="page-link d-inline " th:unless="${currentPage < totalPages}">[[#{datos.pagina-ultima}]]</span>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="text-center p-2" th:if="${lineModels == null or lineModels.empty}">
                        <span th:text="#{lineas.lista-vacia}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
