<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<section th:fragment="paginacionPlanes">
    <nav class="small">
        [[#{datos.entradas}]] [[${totalItems}]] : [[#{datos.pagina}]] [[${currentPage}]]
        [[#{datos.pagina-de}]] [[${totalPages}]]
        <ul class="pagination float-right ">
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage > 1}"
                   th:href="@{/listarPlanes/page/1}">[[#{datos.pagina-primera}]]</a>
                <span class="page-link d-inline bg-secondary text-white" th:unless="${currentPage > 1}">[[#{datos.pagina-primera}]]</span>
            </li>
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage > 1}"
                   th:href="@{'/listarPlanes/page/' + ${currentPage - 1}}">[[#{datos.pagina-anterior}]]</a>
                <span class="page-link d-inline bg-secondary text-white" th:unless="${currentPage > 1}">[[#{datos.pagina-anterior}]]</span>
            </li>
            <li class="page-item">
                                          <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                            <a class="page-link d-inline bg-dark text-white" th:if="${i != currentPage}"
                                               th:href="@{'/listarPlanes/page/' + ${i}}">[[${i}]]</a>
                                            <span class="page-link d-inline bg-white text-black-50 small mr-0 ml-0"
                                                  th:unless="${i != currentPage}">[[${i}]]</span>
                                          </span>
            </li>
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage < totalPages}"
                   th:href="@{'/listarPlanes/page/' + ${currentPage + 1}}">[[#{datos.pagina-siguiente}]]</a>
                <span class="page-link d-inline bg-secondary text-white"
                      th:unless="${currentPage < totalPages}">[[#{datos.pagina-siguiente}]]</span>
            </li>
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage < totalPages}"
                   th:href="@{'/listarPlanes/page/' + ${totalPages}}">[[#{datos.pagina-ultima}]]</a>
                <span class="page-link d-inline bg-secondary text-white"
                      th:unless="${currentPage < totalPages}">[[#{datos.pagina-ultima}]]</span>
            </li>
        </ul>
    </nav>
</section>

<section th:fragment="paginacionLineas">
    <nav class="small">
        [[#{datos.entradas}]] [[${totalItems}]] : [[#{datos.pagina}]] [[${currentPage}]]
        [[#{datos.pagina-de}]] [[${totalPages}]]
        <ul class="pagination float-right ">
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage > 1}"
                   th:href="@{/listarLineas/page/1}">[[#{datos.pagina-primera}]]</a>
                <span class="page-link d-inline bg-secondary text-white" th:unless="${currentPage > 1}">[[#{datos.pagina-primera}]]</span>
            </li>
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage > 1}"
                   th:href="@{'/listarLineas/page/' + ${currentPage - 1}}">[[#{datos.pagina-anterior}]]</a>
                <span class="page-link d-inline bg-secondary text-white" th:unless="${currentPage > 1}">[[#{datos.pagina-anterior}]]</span>
            </li>
            <li class="page-item">
                                  <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                    <a class="page-link d-inline bg-dark text-white" th:if="${i != currentPage}"
                                       th:href="@{'/listarLineas/page/' + ${i}}">[[${i}]]</a>
                                    <span class="page-link d-inline bg-white text-black-50 small mr-0 ml-0"
                                          th:unless="${i != currentPage}">[[${i}]]</span>
                                  </span>
            </li>
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage < totalPages}"
                   th:href="@{'/listarLineas/page/' + ${currentPage + 1}}">[[#{datos.pagina-siguiente}]]</a>
                <span class="page-link d-inline bg-secondary text-white"
                      th:unless="${currentPage < totalPages}">[[#{datos.pagina-siguiente}]]</span>
            </li>
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage < totalPages}"
                   th:href="@{'/listarLineas/page/' + ${totalPages}}">[[#{datos.pagina-ultima}]]</a>
                <span class="page-link d-inline bg-secondary text-white"
                      th:unless="${currentPage < totalPages}">[[#{datos.pagina-ultima}]]</span>
            </li>
        </ul>
    </nav>
</section>

<section th:fragment="paginacionEquipos">
    <nav class="small">
        [[#{datos.entradas}]] [[${totalItems}]] : [[#{datos.pagina}]] [[${currentPage}]]
        [[#{datos.pagina-de}]] [[${totalPages}]]
        <ul class="pagination float-right ">
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage > 1}"
                   th:href="@{/listarEquipos/page/1}">[[#{datos.pagina-primera}]]</a>
                <span class="page-link d-inline bg-secondary text-white" th:unless="${currentPage > 1}">[[#{datos.pagina-primera}]]</span>
            </li>
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage > 1}"
                   th:href="@{'/listarEquipos/page/' + ${currentPage - 1}}">[[#{datos.pagina-anterior}]]</a>
                <span class="page-link d-inline bg-secondary text-white" th:unless="${currentPage > 1}">[[#{datos.pagina-anterior}]]</span>
            </li>
            <li class="page-item">
                                  <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                    <a class="page-link d-inline bg-dark text-white" th:if="${i != currentPage}"
                                       th:href="@{'/listarEquipos/page/' + ${i}}">[[${i}]]</a>
                                    <span class="page-link d-inline bg-white text-black-50 small mr-0 ml-0"
                                          th:unless="${i != currentPage}">[[${i}]]</span>
                                  </span>
            </li>
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage < totalPages}"
                   th:href="@{'/listarEquipos/page/' + ${currentPage + 1}}">[[#{datos.pagina-siguiente}]]</a>
                <span class="page-link d-inline bg-secondary text-white"
                      th:unless="${currentPage < totalPages}">[[#{datos.pagina-siguiente}]]</span>
            </li>
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage < totalPages}"
                   th:href="@{'/listarEquipos/page/' + ${totalPages}}">[[#{datos.pagina-ultima}]]</a>
                <span class="page-link d-inline bg-secondary text-white"
                      th:unless="${currentPage < totalPages}">[[#{datos.pagina-ultima}]]</span>
            </li>
        </ul>
    </nav>
</section>

<section th:fragment="paginacionEmpresas">
    <nav class="small">
        [[#{datos.entradas}]] [[${totalItems}]] : [[#{datos.pagina}]] [[${currentPage}]]
        [[#{datos.pagina-de}]] [[${totalPages}]]
        <ul class="pagination float-right">
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage > 1}"
                   th:href="@{/listarEmpresas/page/1}">[[#{datos.pagina-primera}]]</a>
                <span class="page-link d-inline bg-secondary text-white"
                      th:unless="${currentPage > 1}">[[#{datos.pagina-primera}]]</span>
            </li>
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage > 1}"
                   th:href="@{'/listarEmpresas/page/' + ${currentPage - 1}}">[[#{datos.pagina-anterior}]]</a>
                <span class="page-link d-inline bg-secondary text-white" th:unless="${currentPage > 1}">[[#{datos.pagina-anterior}]]</span>
            </li>
            <li class="page-item">
                  <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link d-inline bg-dark text-white" th:if="${i != currentPage}"
                       th:href="@{'/listarEmpresas/page/' + ${i}}">[[${i}]]</a>
                    <span class="page-link d-inline bg-white text-black-50 small mr-0 ml-0"
                          th:unless="${i != currentPage}">[[${i}]]</span>
                  </span>
            </li>
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage < totalPages}"
                   th:href="@{'/listarEmpresas/page/' + ${currentPage + 1}}">[[#{datos.pagina-siguiente}]]</a>
                <span class="page-link d-inline bg-secondary text-white" th:unless="${currentPage < totalPages}">[[#{datos.pagina-siguiente}]]</span>
            </li>
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage < totalPages}"
                   th:href="@{'/listarEmpresas/page/' + ${totalPages}}">[[#{datos.pagina-ultima}]]</a>
                <span class="page-link d-inline bg-secondary text-white" th:unless="${currentPage < totalPages}">[[#{datos.pagina-ultima}]]</span>
            </li>
        </ul>
    </nav>
</section>

<section th:fragment="paginacionEmpleados">
    <nav class="small">
        [[#{datos.entradas}]] [[${totalItems}]] : [[#{datos.pagina}]] [[${currentPage}]]
        [[#{datos.pagina-de}]] [[${totalPages}]]
        <ul class="pagination float-right ">
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage > 1}"
                   th:href="@{/listarEmpleados/page/1}">[[#{datos.pagina-primera}]]</a>
                <span class="page-link d-inline bg-secondary text-white" th:unless="${currentPage > 1}">[[#{datos.pagina-primera}]]</span>
            </li>
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage > 1}"
                   th:href="@{'/listarEmpleados/page/' + ${currentPage - 1}}">[[#{datos.pagina-anterior}]]</a>
                <span class="page-link d-inline bg-secondary text-white" th:unless="${currentPage > 1}">[[#{datos.pagina-anterior}]]</span>
            </li>
            <li class="page-item">
                                        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                            <a class="page-link d-inline bg-dark text-white" th:if="${i != currentPage}"
                                               th:href="@{'/listarEmpleados/page/' + ${i}}">[[${i}]]</a>
                                            <span class="page-link d-inline bg-white text-black-50 small mr-0 ml-0"
                                                  th:unless="${i != currentPage}">[[${i}]]</span>
                                        </span>
            </li>
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage < totalPages}"
                   th:href="@{'/listarEmpleados/page/' + ${currentPage + 1}}">[[#{datos.pagina-siguiente}]]</a>
                <span class="page-link d-inline bg-secondary text-white"
                      th:unless="${currentPage < totalPages}">[[#{datos.pagina-siguiente}]]</span>
            </li>
            <li class="page-item">
                <a class="page-link d-inline bg-dark text-white" th:if="${currentPage < totalPages}"
                   th:href="@{'/listarEmpleados/page/' + ${totalPages}}">[[#{datos.pagina-ultima}]]</a>
                <span class="page-link d-inline bg-secondary text-white"
                      th:unless="${currentPage < totalPages}">[[#{datos.pagina-ultima}]]</span>
            </li>
        </ul>
    </nav>
</section>

</html>