<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla :: head">
    <title>[[#{equipos.titulo}]]</title>
    <meta charset="UTF-8"/>
</head>
<body class="bg-info">
<header th:replace="layout/plantilla :: header"></header>
<section th:replace="layout/datos/agregar :: agregarFacturacion"></section>
<section th:replace="layout/datos/listar :: listadoFacturacion"></section>
<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>