<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>[[#{equipos.titulo}]]</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.privamedsa.com/"></iframe>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>