<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla :: head">
  <title>[[#{lineas.titulo}]]</title>
  <meta charset="UTF-8"/>
</head>
<body>
<header th:replace="layout/plantilla :: header"></header>
<section th:replace="layout/botonesAgregarLineas :: botonesAgregarLineas"></section>
<section th:replace="layout/agregarLinea :: agregarLinea"></section>
<section th:replace="layout/listadoLineas :: listadoLineas"></section>
<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>