<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Login</title>
    </head>
    <body>
        <header>
            <section id="main-header" class="py-2 bg-info text-white mb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>
                                <i class="fas fa-cog"></i> [[#{plantilla.titulo-modulo}]]
                            </h1>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <section id="login">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card">
                            <div class="card-header">
                                <h4>Login</h4>
                            </div>
                            <div class="card-body mb-5 mt-5">
                                <form method="POST" th:action="@{/login}">
                                    <div class="form-group text-center">
                                        &nbsp;&nbsp;<label for="username">[[#{datos.usuario}]]</label>
                                        <input type="text" name="username" id="username"/>
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="password">[[#{datos.password}]]</label>
                                        <input type="password" name="password" id="password"/>
                                    </div>
                                    <input type="submit" value="Login" class="btn btn-primary btn-block mt-5"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
