<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<section th:fragment="editarEmpleado" style="min-height: calc(115vh - 100px - 299px);">
    <form th:action="@{/guardarEmpleados}" th:object="${employeeModel}" method="post" class="was-validated">
        <input type="hidden" name="id" th:field="*{id}"/>
        <div class="container mb-0">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <div class="card-header">
                            <h4>[[#{accion.editar}]]</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="text-align: -webkit-center;">
                    <div class="form-group mb-4">
                        <label><b>[[#{accion.editar.estados}]]</b></label>
                        <select class="form-control w-75" th:field="*{activo}" required>
                            <option value="true">[[#{datos.habilitado}]]</option>
                            <option value="false">[[#{datos.deshabilitado}]]</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label><b>[[#{empleados.nombre}]]</b></label>
                        <input type="text" class="form-control w-75" name="nombre" required="true"
                               th:field="*{nombre}" maxlength="20">
                    </div>
                </div>
                <div class="card-footer">
                    <section th:replace="layout/botones/botonesEditar :: botonesEditarEmpleados"></section>
                </div>
            </div>
        </div>
    </form>
</section>

<section th:fragment="editarEmpresa" style="min-height: calc(115vh - 100px - 299px);">
    <form th:action="@{/guardarEmpresas}" th:object="${businessModel}" method="post" class="was-validated">
        <input type="hidden" name="id" th:field="*{id}"/>
        <div class="container mb-0">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <div class="card-header">
                            <h4>[[#{accion.editar}]]</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="text-align: -webkit-center;">
                    <div class="form-group mb-4">
                        <label><b>[[#{accion.editar.estados}]]</b></label>
                        <select class="form-control w-75" th:field="*{activo}" required>
                            <option value="true">[[#{datos.habilitado}]]</option>
                            <option value="false">[[#{datos.deshabilitado}]]</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label><b>[[#{empresas.nombre}]]</b></label>
                        <input type="text" class="form-control w-75" name="nombre" required="true"
                               th:field="*{nombre}" maxlength="20">
                    </div>
                </div>
                <div class="card-footer">
                    <section th:replace="layout/botones/botonesEditar :: botonesEditarEmpresas"></section>
                </div>
            </div>
        </div>
    </form>
</section>

<section th:fragment="editarEquipo" style="min-height: calc(115vh - 100px - 299px);">
    <form th:action="@{/guardarEquipos}" th:object="${equipmentModel}" method="post" class="was-validated">
        <input type="hidden" name="id" th:field="*{id}"/>
        <div class="container mb-0">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <div class="card-header">
                            <h4>[[#{accion.editar}]]</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="text-align: -webkit-center;">
                    <div class="form-group mb-4">
                        <label><b>[[#{accion.editar.estados}]]</b></label>
                        <select class="form-control w-75" th:field="*{activo}" required>
                            <option value="true">[[#{datos.habilitado}]]</option>
                            <option value="false">[[#{datos.deshabilitado}]]</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label><b>[[#{equipos.marca}]]</b></label>
                        <input type="text" class="form-control w-75" name="marca" required="true"
                               th:field="*{marca}" maxlength="10">
                    </div>
                    <div class="form-group mb-4">
                        <label><b>[[#{equipos.modelo}]]</b></label>
                        <input type="text" class="form-control w-75" name="modelo" required="true"
                               th:field="*{modelo}" maxlength="30">
                    </div>
                    <div class="form-group mb-4">
                        <label><b>[[#{equipos.imei}]]</b></label>
                        <input type="number" class="form-control w-75" name="imei" required="true"
                               th:field="*{imei}" maxlength="15" oninput="if(this.value.length >
                                           this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    </div>
                    <div class="form-group mb-4">
                        <label><b>[[#{equipos.sim}]]</b></label>
                        <input type="number" class="form-control w-75" name="sim" required="true"
                               th:field="*{sim}" maxlength="19" oninput="if(this.value.length >
                                           this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    </div>
                </div>
                <div class="card-footer">
                    <section th:replace="layout/botones/botonesEditar :: botonesEditarEquipos"></section>
                </div>
            </div>
        </div>
    </form>
</section>

<section th:fragment="editarLinea" style="min-height: calc(115vh - 100px - 299px);">
    <form th:action="@{/guardarLineas}" th:object="${lineModel}" method="post" class="was-validated">
        <input type="hidden" name="id" th:field="*{id}"/>
        <div class="container mb-0">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <div class="card-header">
                            <h4>[[#{accion.editar}]]</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="text-align: -webkit-center;">
                    <div class="form-group mb-4">
                        <label><b>[[#{accion.editar.estados}]]</b></label>
                        <select class="form-control w-75" th:field="*{activo}" required>
                            <option value="true">[[#{datos.habilitado}]]</option>
                            <option value="false">[[#{datos.deshabilitado}]]</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label><b>[[#{lineas.numero}]]</b></label>
                        <input type="number" class="form-control w-75" name="numero" required="true"
                               th:field="*{numero}"
                               maxlength="10" oninput="if(this.value.length > this.maxLength) this.value =
                         this.value.slice(0, this.maxLength);">
                    </div>
                    <div class="form-group mb-4">
                        <label><b>[[#{lineas.empleado}]]</b></label>
                        <select class="form-control w-75" th:field="*{employeeModel}" required>
                            <option value="">[[#{empleados.seleccion}]]</option>
                            <option th:each="employee : ${employeeModel}"
                                    th:value="${employee.id}"
                                    th:text="${employee.nombre}"></option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label><b>[[#{lineas.equipo}]]</b></label>
                        <select class="form-control w-75" th:field="*{equipmentModel}" required>
                            <option value="">[[#{equipos.seleccion}]]</option>
                            <option th:each="equipment : ${equipmentModel}"
                                    th:value="${equipment.id}"
                                    th:text="${equipment.imei}"></option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label><b>[[#{lineas.plan}]]</b></label>
                        <select class="form-control w-75" th:field="*{planModel}" required>
                            <option value="">[[#{planes.seleccion}]]</option>
                            <option th:each="plan : ${planModel}"
                                    th:value="${plan.id}"
                                    th:text="${plan.nombre}"></option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label><b>[[#{lineas.empresa}]]</b></label>
                        <select class="form-control w-75" th:field="*{businessModel}" required>
                            <option value="">[[#{empresas.seleccion}]]</option>
                            <option th:each="empresa : ${businessModel}"
                                    th:value="${empresa.id}"
                                    th:text="${empresa.nombre}"></option>
                        </select>
                    </div>
                </div>
                <div class="card-footer">
                    <section th:replace="layout/botones/botonesEditar :: botonesEditarLineas"></section>
                </div>
            </div>
        </div>
    </form>
</section>

<section th:fragment="editarPlan" style="min-height: calc(115vh - 100px - 299px);">
    <form th:action="@{/guardarPlan}" th:object="${planModel}" method="post" class="was-validated">
        <input type="hidden" name="id" th:field="*{id}"/>
        <div class="container mb-0">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <div class="card-header">
                            <h4>[[#{accion.editar}]]</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="text-align: -webkit-center;">
                    <div class="form-group mb-4">
                        <label><b>[[#{accion.editar.estados}]]</b></label>
                        <select class="form-control w-75" th:field="*{activo}" required>
                            <option value="true">[[#{datos.habilitado}]]</option>
                            <option value="false">[[#{datos.deshabilitado}]]</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label><b>[[#{planes.nombre}]]</b></label>
                        <input type="text" class="form-control w-75" name="nombre" required="true"
                               th:field="*{nombre}" maxlength="18">
                    </div>
                    <div class="form-group mb-4">
                        <label><b>[[#{planes.precio}]]</b></label>
                        <input type="number" class="form-control w-75" name="precio" required="true"
                               th:field="*{precio}">
                    </div>
                    <div class="form-group mb-4">
                        <label><b>[[#{planes.internet}]]</b></label>
                        <input type="number" class="form-control w-75" name="internet" required="true"
                               th:field="*{internet}" maxlength="5" oninput="if(this.value.length >
                                           this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    </div>
                    <div class="form-group mb-4">
                        <label><b>[[#{planes.minutos}]]</b></label>
                        <input type="number" class="form-control w-75" name="minutos" required="true"
                               th:field="*{minutos}" maxlength="6" oninput="if(this.value.length >
                                           this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    </div>
                    <div class="form-group mb-4">
                        <label><b>[[#{planes.sms}]]</b></label>
                        <input type="number" class="form-control w-75" name="sms" required="true"
                               th:field="*{sms}" maxlength="6" oninput="if(this.value.length >
                                           this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    </div>
                </div>
                <div class="card-footer">
                    <section th:replace="layout/botones/botonesEditar :: botonesEditarPlanes"></section>
                </div>
            </div>
        </div>
    </form>
</section>

</html>