<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<section th:fragment="listadoEmpleados" id="employeeModel">
    <div class="card mr-5 ml-5 mb-0">
        <div class="card-header">
            <section th:replace="layout/botones/botonesAgregar :: botonesAgregarEmpleados"></section>
        </div>
        <div class="card-body p-0">
            <section th:replace="layout/datos/tablas :: tablaEmpleados"></section>
        </div>
    </div>
</section>

<section th:fragment="listadoEmpresas" id="businessModel" style="min-height: calc(115vh - 100px - 299px);">
    <div class="card mr-5 ml-5 mb-0">
        <div class="card-header">
            <section th:replace="layout/botones/botonesAgregar :: botonesAgregarEmpresas"></section>
        </div>
        <div class="card-body p-0">
            <section th:replace="layout/datos/tablas :: tablaEmpresas"></section>
        </div>
    </div>
</section>

<section th:fragment="listadoEquipos" id="equipmentModel" style="min-height: calc(115vh - 100px - 299px);">
    <div class="card mr-5 ml-5 mb-0">
        <div class="card-header">
            <section th:replace="layout/botones/botonesAgregar :: botonesAgregarEquipos"></section>
        </div>
        <div class="card-body p-0">
            <section th:replace="layout/datos/tablas :: tablaEquipos"></section>
        </div>
    </div>
</section>

<section th:fragment="listadoLineas" id="lineModel" style="min-height: calc(115vh - 100px - 299px);">
    <div class="card mr-5 ml-5 mb-0">
        <div class="card-header">
            <section th:replace="layout/botones/botonesAgregar :: botonesAgregarLineas"></section>
        </div>
        <div>
            <section th:replace="layout/datos/tablas :: tablaLineas"></section>
        </div>
    </div>
</section>

<section th:fragment="listadoPlanes" id="planModel" style="min-height: calc(115vh - 100px - 299px);">
    <div class="card mr-5 ml-5 mb-0">
        <div class="card-header">
            <section th:replace="layout/botones/botonesAgregar :: botonesAgregarPlanes"></section>
        </div>
        <div class="card-body p-0">
            <section th:replace="layout/datos/tablas :: tablaPlanes"></section>
        </div>
    </div>
</section>

</html>