<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<section th:fragment="tablaEmpleados">
    <table class="table table-striped table-bordered"
           th:if="${employeeModels != null and !employeeModels.empty}">
        <thead class="thead-dark">
        <tr class="text-center">
            <th>
                <a class="text-white"
                   th:href="@{'/listarEmpleados/page/' + ${currentPage} + '/id?sortDir=' + ${reverseSortDir}}">[[#{datos.codigo}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarEmpleados/page/' + ${currentPage} + '/nombre?sortDir=' + ${reverseSortDir}}">[[#{empleados.nombre}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarEmpleados/page/' + ${currentPage} + '/activo?sortDir=' + ${reverseSortDir}}">[[#{empleados.estado}]]</a>
            </th>
            <th class="text-white text-center">[[#{accion}]]</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="empleado, contador : ${employeeModels}">
            <td>[[${empleado.id}]]</td>
            <td>[[${empleado.nombre}]]</td>
            <td th:text="${empleado.activo} ? 'Habilitado' : 'Deshabilitado'"></td>
            <td>
                <a sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{/editarEmpleados/} + ${empleado.id}">
                    <i class="fas fa-edit" style="color: darkgreen"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
<section th:fragment="tablaEmpresas">
    <table class="table table-striped table-bordered"
           th:if="${businessModels != null and !businessModels.empty}">
        <thead class="thead-dark">
        <tr class="text-center">
            <th>
                <a class="text-white"
                   th:href="@{'/listarEmpresas/page/' + ${currentPage} + '/id?sortDir=' + ${reverseSortDir}}">[[#{datos.codigo}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarEmpresas/page/' + ${currentPage} + '/nombre?sortDir=' + ${reverseSortDir}}">[[#{empleados.nombre}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarEmpresas/page/' + ${currentPage} + '/activo?sortDir=' + ${reverseSortDir}}">[[#{empleados.estado}]]</a>
            </th>
            <th class="text-white text-center">[[#{accion}]]</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="empresa, contador : ${businessModels}">
            <td>[[${empresa.id}]]</td>
            <td>[[${empresa.nombre}]]</td>
            <td th:text="${empresa.activo} ? 'Habilitado' : 'Deshabilitado'"></td>
            <td class="text-center">
                <a sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{/editarEmpresas/} + ${empresa.id}">
                    <i class="fas fa-edit" style="color: darkgreen"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
<section th:fragment="tablaEquipos">
    <table class="table table-striped table-bordered"
           th:if="${equipmentModels != null and !equipmentModels.empty}">
        <thead class="thead-dark">
        <tr class="text-center">
            <th>
                <a class="text-white"
                   th:href="@{'/listarEquipos/page/' + ${currentPage} + '/id?sortDir=' + ${reverseSortDir}}">[[#{datos.codigo}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarEquipos/page/' + ${currentPage} + '/marca?sortDir=' + ${reverseSortDir}}">[[#{equipos.marca}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarEquipos/page/' + ${currentPage} + '/modelo?sortDir=' + ${reverseSortDir}}">[[#{equipos.modelo}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarEquipos/page/' + ${currentPage} + '/imei?sortDir=' + ${reverseSortDir}}">[[#{equipos.imei}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarEquipos/page/' + ${currentPage} + '/sim?sortDir=' + ${reverseSortDir}}">[[#{equipos.sim}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarEquipos/page/' + ${currentPage} + '/activo?sortDir=' + ${reverseSortDir}}">[[#{equipos.estado}]]</a>
            </th>
            <th class="text-white text-center">[[#{accion}]]</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="equipo, contador : ${equipmentModels}">
            <td>[[${equipo.id}]]</td>
            <td>[[${equipo.marca}]]</td>
            <td>[[${equipo.modelo}]]</td>
            <td>[[${equipo.imei}]]</td>
            <td>[[${equipo.sim}]]</td>
            <td th:text="${equipo.activo} ? 'Habilitado' : 'Deshabilitado'"></td>
            <td>
                <a sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{/editarEquipos/} + ${equipo.id}">
                    <i class="fas fa-edit" style="color: darkgreen"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
<section th:fragment="tablaLineas">
    <table class="table table-striped table-bordered"
           th:if="${lineModels != null and !lineModels.empty}">
        <thead class="thead-dark">
        <tr class="text-center">
            <th>
                <a class="text-white"
                   th:href="@{'/listarLineas/page/' + ${currentPage} + '/id?sortDir=' + ${reverseSortDir}}">[[#{datos.codigo}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarLineas/page/' + ${currentPage} + '/numero?sortDir=' + ${reverseSortDir}}">[[#{lineas.numero}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarLineas/page/' + ${currentPage} + '/employeeModel.nombre?sortDir=' + ${reverseSortDir}}">[[#{lineas.empleado}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarLineas/page/' + ${currentPage} + '/planModel.nombre?sortDir=' + ${reverseSortDir}}">[[#{lineas.plan}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarLineas/page/' + ${currentPage} + '/equipmentModel.imei?sortDir=' + ${reverseSortDir}}">[[#{lineas.equipo}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarLineas/page/' + ${currentPage} + '/businessModel.nombre?sortDir=' + ${reverseSortDir}}">[[#{lineas.empresa}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarLineas/page/' + ${currentPage} + '/activo?sortDir=' + ${reverseSortDir}}">[[#{lineas.estado}]]</a>
            </th>
            <th class="text-white text-center">[[#{accion}]]</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="linea, contador : ${lineModels}">
            <input type="hidden" [[${linea.activo}]]>
            <td>[[${linea.id}]]</td>
            <td>[[${linea.numero}]]</td>
            <td>[[${linea.employeeModel.nombre}]]</td>
            <td>[[${linea.planModel.nombre}]]</td>
            <td>[[${linea.equipmentModel.imei}]]</td>
            <td>[[${linea.businessModel.nombre}]]</td>
            <td th:text="${linea.activo} ? 'Habilitado' : 'Deshabilitado'"></td>
            <td class="form-inline text-center">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/editarLineas/} + ${linea.id}">
                    <i class="fas fa-edit" style="color: darkgreen"></i>
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{/eliminarLineas/} + ${linea.id}">
                    <i class="fas fa-trash" style="color: red"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
<section th:fragment="tablaPlanes">
    <table class="table table-striped table-bordered"
           th:if="${planModels != null and !planModels.empty}">
        <thead class="thead-dark">
        <tr class="text-center">
            <th>
                <a class="text-white"
                   th:href="@{'/listarPlanes/page/' + ${currentPage} + '/id?sortDir=' + ${reverseSortDir}}">[[#{datos.codigo}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarPlanes/page/' + ${currentPage} + '/nombre?sortDir=' + ${reverseSortDir}}">[[#{planes.nombre}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarPlanes/page/' + ${currentPage} + '/precio?sortDir=' + ${reverseSortDir}}">[[#{planes.precio}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarPlanes/page/' + ${currentPage} + '/internet?sortDir=' + ${reverseSortDir}}">[[#{planes.internet}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarPlanes/page/' + ${currentPage} + '/minutos?sortDir=' + ${reverseSortDir}}">[[#{planes.minutos}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarPlanes/page/' + ${currentPage} + '/sms?sortDir=' + ${reverseSortDir}}">[[#{planes.sms}]]</a>
            </th>
            <th>
                <a class="text-white"
                   th:href="@{'/listarPlanes/page/' + ${currentPage} + '/activo?sortDir=' + ${reverseSortDir}}">[[#{planes.estado}]]</a>
            </th>
            <th class="text-white">[[#{accion}]]</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="plan, contador : ${planModels}">
            <input type="hidden" [[${plan.activo}]]>
            <td>[[${plan.id}]]</td>
            <td>[[${plan.nombre}]]</td>
            <td>[[${new java.text.DecimalFormat('$#,##0.00').format(plan.precio)}]]</td>
            <td>[[${plan.internet}]] GB</td>
            <td>[[${plan.minutos}]]</td>
            <td>[[${plan.sms}]]</td>
            <td th:text="${plan.activo} ? 'Habilitado' : 'Deshabilitado'"></td>
            <td>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/editarPlanes/} + ${plan.id}">
                    <i class="fas fa-edit" style="color: darkgreen"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</html>